
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">POST A QUOTE</h5>
          <button type="button" id="del" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="submitpost()" id="form" #quoteForm="ngForm">
        <div class="modal-body">

            <div class="group">
                <label for="title" id="title">Quotes:</label>
                <br/>
                <textarea class="control" type="text" [(ngModel)]="newQuote.title" placeholder="Write your quote here" rows="7"
                  name="text" id="text" #text="ngModel"></textarea>
              </div>
              <div class="group">
                <label for="author" id="author">Author:</label>
                <br/>
                <input class="control" type="text" [(ngModel)]="newQuote.author" name="author" id="writer"
                  placeholder="Author of the quote">
              </div>
              <div class="group">
                <label for="poster" id="poster">Your name:</label>
                <br/>
                <input class="control" type="text" id="post" [(ngModel)]="newQuote.poster" name="post"
                  placeholder="Enter your name">
              </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>
