/* html {
  background:url(../assets/fairyland_2-wallpaper-1366x768.jpg);

}
 */
h1 {
  font-family: 'Alfa Slab One', cursive;
}
.lead {
  letter-spacing: 5px;
  font-family: 'Patrick Hand', cursive;
}
.jumbotron {
  text-align: center;
  background: url(../assets/background.gif);
  -webkit-background-clip: text;
  color: rgba(240, 248, 255, 0);
}
